VITE_FIREBASE_API_KEY= "AIzaSyD9a74k4IXWhq8eR62PPnuxsGUYtBUStzE"
VITE_FIREBASE_AUTH_DOMAIN= fizza-7a796.firebaseapp.com
VITE_FIREBASE_PROJECT_ID= fizza-7a796
VITE_FIREBASE_STORAGE_BUCKET= fizza-7a796.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID= 180855693736
VITE_FIREBASE_APP_ID= 1:180855693736:web:c739b1a44fe0c21f61bd9d
